.main-card {
  align-items: center;
  justify-content: center;
  display: flex;
}

.body {
  border: 1px solid rgb(198, 194, 194);
}
.tab {
  width: 50%;
  padding: 1.25rem;
}

flex-fill {
  flex: 1;
}

.tab-list {
  display: flex;
  cursor: pointer;
  height: 40px;
}

.tab-list ul {
  list-style-type: none;
}

.tab ul li {
  width: -webkit-fill-available;
  display: inline;
  color: rgb(127, 125, 125);
  text-align: center;
  /* background-color: gray; */
}

.tab ul li:hover {
  color: black;
  cursor: pointer;
  background-color: rgb(205, 199, 199);
}

.content {
  display: none;
}

.show-content {
  display: block;
  text-align: center;
}

.dark {
  background-color: #545454;
  color: rgb(127, 125, 125);
}

.btn {
  padding: 5px;
  margin: 10px;
}
